.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
body{
    display: flex;
    flex-direction: row;
}

.add-note{
    width: 50%;
    margin: 25px 200px;
}

.add-note form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.add-note label {
    margin-top: 15px;
}

.add-note button {
    margin-top: 15px;
}

.notes {
    width: 100%;
}
.notes__list{
    list-style: none;
}

.notes__item{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin:25px;
}

.notes__item span {
    margin: 10px;
    font-family: 'sans-serif';
}

